############################################################################
# This is just an internal File to ignore Files during git operations
############################################################################

**/.htaccess*
**/.htpasswd*